  <div class="wrapper">
    <div class="mt-2">
      <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
        <div class="container-fluid bg-white">
          <div class="row">
            <div class="col-lg-7">
              <div class="row justify-content-center">
                <div class="col-lg-7">
                  <div class="py-4 text-center">
                    <img src="assets/images/logo.png" width="180" alt="" />
                  </div>
                  <div class="border p-4 rounded">
                    <div class="text-center">
                      <h3 class="">Sign in</h3>
                      <p>
                        Don't have an account yet?
                        <a href="authentication-signup.html">Sign up here</a>
                      </p>
                    </div>
  
                    <div class="form-body">
                      <form class="row g-3">
                        <div class="col-12">
                          <label for="group" class="form-label">Group</label>
                          <input
                            type="text"
                            class="form-control"
                            id="group"
                            placeholder="Group"
                          />
                        </div>
                        <div class="col-12">
                          <label for="date" class="form-label"
                            >Todays Date</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="date"
                            placeholder="date"
                          />
                        </div>
                        <div class="col-12">
                          <label for="userID" class="form-label">User ID</label>
                          <input
                            type="text"
                            class="form-control"
                            id="userID"
                            placeholder="User ID"
                          />
                        </div>
                        <div class="col-12">
                          <label for="inputChoosePassword" class="form-label"
                            >Enter Password</label
                          >
                          <div class="input-group">
                            <input
                              type="password"
                              class="form-control border-end-0"
                              id="inputChoosePassword"
                              placeholder="Enter Password"
                            />
                            <a
                              href="javascript:;"
                              class="input-group-text bg-transparent"
                              ><i class="bx bx-hide"></i
                            ></a>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <a href="authentication-forgot-password.html"
                            >Forgot Password ?</a
                          >
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                              <i class="bx bxs-lock-open"></i>Sign in
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-5 mt-5">
              <img
                src="./assets/images/login-images/html-system-websites-collage-design.jpg"
                style="height: 100vh; width: 100%"
                alt=""
              />
            </div>
          </div>
  
          <!--end row-->
        </div>
      </div>
    </div>
    </div>
    