################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
*.json
*.sqlite
*.bin
*.v2
/TecheSoft/API/TecheSoft/obj/Debug/net8.0
*.suo
/TecheSoft/API/TecheSoft/obj/Release/net8.0
/TecheSoft/API/TecheSoft/bin/Debug/net8.0
/TecheSoft/.vs/TecheSoft/config/applicationhost.config
/TecheSoft/Common/DTO/bin/Debug/net8.0
/TecheSoft/Common/DTO/obj/Debug/net8.0
/TecheSoft/Common/DTO/obj
/TecheSoft/Common/EncryptDecrypt/bin/Debug/net8.0
/TecheSoft/Common/EncryptDecrypt/obj/Debug/net8.0/ref
/TecheSoft/Common/Filter/bin/Debug/net8.0
/TecheSoft/Common/EncryptDecrypt/obj/Debug/net8.0/refint
/TecheSoft/Logger/bin/Debug/net8.0
/TecheSoft/Common/Filter/obj
/TecheSoft/.vs/TecheSoft/FileContentIndex
/TecheSoft/API/TecheSoft/obj/project.nuget.cache
/TecheSoft/API/TecheSoft/obj/TecheSoft.csproj.nuget.g.props
/TecheSoft/API/TecheSoft/obj/TecheSoft.csproj.nuget.g.targets
/TecheSoft/Common/EncryptDecrypt/obj/Debug/net8.0/EncryptDecrypt.assets.cache
/TecheSoft/Common/EncryptDecrypt/obj/EncryptDecrypt.csproj.nuget.g.props
/TecheSoft/Common/EncryptDecrypt/obj/EncryptDecrypt.csproj.nuget.g.targets
/TecheSoft/Common/EncryptDecrypt/obj/project.nuget.cache
/TecheSoft/Logger/obj/Debug/net8.0/Logger.assets.cache
/TecheSoft/Logger/obj/Logger.csproj.nuget.g.props
/TecheSoft/Logger/obj/project.nuget.cache
