<div class="wrapper">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
      <div class="sidebar-header">
        <a href="index.html" class="my-3">
          <img
            src="assets/images/logo.png"
            class="logo-icon"
            alt="logo icon"
          />
        </a>

        <div class="toggle-icon ms-auto">
          <i class="bi bi-arrow-bar-left"></i>
        </div>
      </div>
      <!--navigation-->
      <ul class="metismenu" id="menu">
        <li>
          <a href="Enquiry.html">
            <div class="parent-icon"><i class="bi bi-headset"></i></div>
            <div class="menu-title">Enquiry</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="parent-icon"><i class="bi bi-receipt"></i></div>
            <div class="menu-title">Billing</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="parent-icon">
              <i class="bi bi-arrows-move"></i>
            </div>
            <div class="menu-title">Invard</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="parent-icon">
              <i class="bi bi-cash"></i>
            </div>
            <div class="menu-title">Challan</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="parent-icon">
              <i class="bi bi-truck"></i>
            </div>
            <div class="menu-title">Delivery</div>
          </a>
        </li>
        <li>
          <a href="ledger.html">
            <div class="parent-icon">
              <i class="bi bi-journal-text"></i>
            </div>
            <div class="menu-title">Ledger</div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="parent-icon">
              <i class="bi bi-question-octagon"></i>
            </div>
            <div class="menu-title">Help</div>
          </a>
        </li>
        <li>
          <a href="signin.html">
            <div class="parent-icon">
              <i class="bi bi-box-arrow-left"></i>
            </div>
            <div class="menu-title">LogOff</div>
          </a>
        </li>
      </ul>
      <!--end navigation-->
    </div>
    <!--end sidebar wrapper -->
    <!--start header -->
    <header>
      <div class="topbar d-flex align-items-center">
        <nav class="navbar navbar-expand">
          <div class="mobile-toggle-menu"><i class="bi bi-list"></i></div>
          <div class="d-block d-sm-block d-md-block d-lg-none">
            <a href="index.html" class="m-3">
              <img
                src="assets/images/logo.png"
                class="logo-icon"
                alt="logo icon"
              />
            </a>
          </div>
          <div class="search-bar flex-grow-1">
            <div class="position-relative search-bar-box">
              <input
                type="text"
                class="form-control search-control"
                placeholder="Type to search..."
              />
              <span
                class="position-absolute top-50 search-show translate-middle-y"
                ><i class="bi bi-search"></i
              ></span>
              <span
                class="position-absolute top-50 search-close translate-middle-y"
                ><i class="bi bi-x"></i
              ></span>
            </div>
          </div>
          <div class="top-menu ms-auto">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item mobile-search-icon">
                <a class="nav-link" href="#">
                  <i class="bi bi-search"></i>
                </a>
              </li>
              <li class="nav-item dropdown dropdown-large">
                <a
                  class="nav-link dropdown-toggle dropdown-toggle-nocaret"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-columns-gap"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <div class="row row-cols-3 g-3 p-3">
                    <div class="col text-center">
                      <div class="app-box mx-auto text-primary">
                        <i class="bi bi-wallet2"></i>
                      </div>
                      <div class="app-title">Daily Exp</div>
                    </div>
                    <div class="col text-center">
                      <div class="app-box mx-auto text-danger">
                        <i class="bi bi-calculator"></i>
                      </div>
                      <div class="app-title">Calculator</div>
                    </div>
                    <div class="col text-center">
                      <div class="app-box mx-auto text-success">
                        <i class="bi bi-list-check"></i>
                      </div>
                      <div class="app-title">Todo</div>
                    </div>
                    <div class="col text-center">
                      <div class="app-box mx-auto text-info">
                        <i class="bi bi-person-lines-fill"></i>
                      </div>
                      <div class="app-title">Contacts</div>
                    </div>
                    <div class="col text-center">
                      <div class="app-box mx-auto text-warning">
                        <i class="bi bi-file"></i>
                      </div>
                      <div class="app-title">Notepad</div>
                    </div>
                    <div class="col text-center">
                      <div class="app-box mx-auto text-dark">
                        <i class="bi bi-app-indicator"></i>
                      </div>
                      <div class="app-title">Alerts</div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-large">
                <a
                  class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="alert-count">2</span>
                  <i class="bi bi-bell"></i>
                </a>
                <!--  -->
              </li>
            </ul>
          </div>
          <div class="user-box dropdown">
            <a
              class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="assets/images/avatars/user.avif"
                class="user-img"
                alt="user avatar"
              />
              <div class="user-info ps-3">
                <p class="user-name mb-0">UID#123456</p>
                <p class="designattion mb-0">Project Manager</p>
              </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="javascript:;"
                  ><i class="bi bi-user"></i><span>Profile</span></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;"
                  ><i class="bi bi-cog"></i><span>Settings</span></a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;"
                  ><i class="bi bi-home-circle"></i><span>Dashboard</span></a
                >
              </li>

              <li>
                <div class="dropdown-divider mb-0"></div>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:;"
                  ><i class="bi bi-log-out-circle"></i><span>Logout</span></a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!--end header -->
    <!--start page wrapper -->
    <div class="page-wrapper">
      <div class="page-content">
        <div class="heading">
          <h5>Dashboard</h5>
        </div>
        <div class="box-card"></div>
      </div>
    </div>
    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"
      ><i class="bi bis-up-arrow-alt"></i
    ></a>
    <!--End Back To Top Button-->
    <footer class="page-footer">
      <p class="mb-0">Copyright © 2024. All right reserved.</p>
    </footer>
  </div>